/* index */
.head {
  background-color: #FF0000;
  height: 50px;
}

.navbar {
  background: rgb(225, 198, 198);
  height: 80px;
  padding-bottom: 10px;
}

.nav-link {
  color: black;
  font-size: 20px;
  padding: 0px;
  margin-right: 28px;
}

.nav-item a:hover {
  color: #a385fa;
}

.dropdown-menu {
  border: 0px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.carousel-item {
  height: 600px;
}

.carousel-img-1 {
  background-size: 100% 100%;
}

.carousel-img-2 {
  background-size: 100% 100%;
}

.carousel-img-3 {
  background-size: 100% 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel_slid {
  height: 600px;
  position: relative;
}

.opacity_carousel {
  background: rgb(0,0,0);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.carousel-control-prev, .carousel-control-next {
  z-index: 11;
}

.post {
  width: auto;
  height: 200px;
  margin-top: 5px;
  background-color: rgb(241, 241, 25);
}

.post2, .post3 {
  width: auto;
  height: 200px;
  margin-top: 10px;
  background-color: beige;

}
.postimg, .postimg3 {
  width: 300px;
  height: 200px;
  padding: 0px;
  margin-left: 0px;
}

.postimg2 {
  width: 300px;
  height: 200px;
  padding: 0px;
  margin-right: 0px;
}

.post_dec h2, .post_dec2 h2, .post_dec3 h2 {
  color: #ba5050;
}

.post_dec, .post_dec3 {
  padding: 5px;
  margin-right: 0px;
  margin: 5px;
  width: 1100px;
}

.post_dec2 {
  padding: 5px;
  padding-left: 0px;
  margin: 5px;
  width: 1100px;
}

.footer {
  background-color: #09c6ff;
  height: 70px;
  margin-top: 1px;
  text-align: center;
}

/* address */
.address {
  height: 200px;
}

#page-header {
  background: url(../imge/a.jpg);
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  background-attachment: fixed;
  margin-bottom: 50px;
}

#page-header_1 {
  background: url(../imge/a.jpg);
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  background-attachment: fixed;
  margin-bottom: 50px;
}

/* Registration */
.form_body {
  width: 750px;
  margin-left: 296px;
}

.blood_group {
  margin-left: 286px;
}

.email_group {
  margin-left: 268px;
}

.reg_btn {
  background-color: #634747;
  color: rgb(243, 238, 238);
}

/* search */
.search {
  width: 600px;
  height: 500px;
  margin-left: 400px;
  background-image:url(../imge/search/search.jpg);

}


/*.search img {
  margin-left: 150px;
  background-image: url(search.png);
}*/

.search_bt {
  background-color: #e48282;
  color: rgb(130, 76, 216);
  margin-left: 250px;
}



.donor_details {
  width: 550px;
  padding: 20px;
  padding-left: 156px;
}

.theadcolor {
  background-color: #df7b7b;
}

.donor_list {
  height: 600px;
}

.Contact_body {
  height: 600px;
}

.about_page {
  height: 600px;
}
